.about {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr,1fr;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  align-items: center;
}

.about-text {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.about-img {
  position: absolute;
  top: 250px;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.abt-res {
  width: 100%;
  height: auto;
}

.about-text h2 {
  font-size: 60px;
  letter-spacing: 2px;
  padding-top: 60px;
}

.about-text h2 span {
  color: #0ef;
  
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 1rem;
  text-align: justify;
}

.abtbtn-box {
  display: inline-block;
  padding: 12px 25px;
  background: #0ef;
  border-radius: 40px;
  font-size: 15px;
  text-align: center;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 30px;
}

.abtbtn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/* Responsive styles */

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }
  .about-text {
    max-width: 100%;
    top: 10px;
   
  }
  .about-img {
    position: relative;
    top: 150px;
    left: 0;
    width: 150px;
    height: 150px;
    margin: 20px auto;
  }
  .about-text h2 {
    font-size: 10px;

    
  }
  .about-text p {
    font-size: 18px;
  
  }
}

@media (max-width: 680px) {
  .about {
    padding: 20px;
  }
  .about-text h2 {
    font-size: 30px;
    padding-top: 7px;
  }
  .about-img {
    position: relative;
     width: 100px;
    height: 100px;
    bottom: 50%;
    
  }
  .about-text p {
    font-size: 16px;
    padding-bottom: 90px;
  }
  .abtbtn-box {
    padding: 10px 20px;
    font-size: 14px;
  }
}